<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <h2 class="text-center">Vue를 이용한 게시판</h2>
      <div>
        <table class="table" v-for="board in boards" v-if="board.no == no">
          <tr>
            <td>{{board.no}}</td>
          </tr>
          <tr>
            <td>{{board.title}}</td>
          </tr>
          <tr>
            <td v-text="board.writer"></td>
          </tr>
          <tr>
            <td v-text="board.regtime"></td>
          </tr>
          <tr>
            <td colspan="2" v-text="board.content"></td>
          </tr>
        </table>
      </div>
      <div class="text-right">
        <a href="list.html" class="btn btn-primary text-center">목록</a>
      </div>
    </div>

    <script>
      // https://developer.mozilla.org/en-US/docs/Web/API/URL/URL
      const params = new URL(document.location).searchParams; // URL에서 Parameter를 추출
      const no = params.get("no");
      const boards = [
        {
          no: 3,
          title: "프론트엔드 프레임워크",
          content: "Vue는 프론트엔드의 인기있는 프레임워크 입니다.",
          writer: "ssafy",
          regtime: "2020-05-30",
        },
        {
          no: 2,
          title: "Vue를 배워봅시다",
          content: "Vue와 Spring을 연동하자~",
          writer: "ssafy",
          regtime: "2020-05-30",
        },
        {
          no: 1,
          title: "Vue Axios 연동",
          content: "Vue를 이용한 HTTP 통신",
          writer: "ssafy",
          regtime: "2020-05-30",
        },
      ];
      new Vue({
        el: "#app",
        data: {
          no,
          boards,
        },
      });
    </script>
  </body>
</html>
